# KELOMPOK 1 - TAMA

In [103]:
import pandas as pd
import numpy as np
import math
from heapq import nsmallest

In [104]:
dataFrame = pd.read_csv("dataKNN1.csv")
dataFrame

   Temperatur Udara  Kecepatan Angin Klasifikasi
0                10                0      Dingin
1                25                0       Panas
2                15                5      Dingin
3                20                3       Panas
4                18                7      Dingin
5                20               10      Dingin
6                22                5       Panas
7                24                6       Panas

In [105]:
dataX = dataFrame['Temperatur Udara']
dataY = dataFrame['Kecepatan Angin']
dataXY=dataFrame['Klasifikasi']

xTanya = 16
yTanya = 10

hasil = []

for i in range(0,len(dataFrame)):
    result = math.pow((xTanya - dataX[i]),2) + math.pow((yTanya - dataY[i]),2)
    
    temp = []  #make new list to save result and "Klasifikasi"
    temp.append(math.sqrt(result))
    temp.append(dataXY[i])
    hasil.append(temp)  #List to save List of temp

In [106]:
k = 5

hasil.sort()
cold = 0
hot = 0

for idx in hasil[:k]:
# for idx in range(0,len(hasil[:k])):
    
    if (idx[1]=='Panas'):     #idx[1] means list hasil[idx][1]
        hot+=1

    else:
        cold+=1
        
        
if (cold>hot):
    print("Hasil : Dingin")
elif (hot>cold):
    print("Hasil : Panas")
else :
    print("Confuse !")  #if value data is equals
    
print("DINGIN : ",str(cold/k*100)," %",", PANAS : ",str(hot/k*100)," %")

Hasil : Dingin
DINGIN :  60.0  % , PANAS :  40.0  %